pkgbase = oryx-editor-bin
	pkgdesc = Fast editor for markdown and code, reader for ebooks and comics
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/wmahfoudh/oryx
	arch = x86_64
	license = GPL-3.0-only
	makedepends = librsvg
	depends = openssl
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	provides = oryx-editor
	conflicts = oryx
	conflicts = oryx-editor
	options = !strip
	options = !debug
	source = https://github.com/wmahfoudh/oryx/releases/download/v1.1.1/oryx-1.1.1-linux-x86_64.tar.gz
	source = oryx-editor-bin-1.1.1.desktop::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.1.1/packaging/linux/com.steerania.Oryx.desktop
	source = oryx-editor-bin-1.1.1.metainfo.xml::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.1.1/packaging/linux/com.steerania.Oryx.metainfo.xml
	source = oryx-editor-bin-1.1.1.svg::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.1.1/assets/icon/oryx.svg
	source = oryx-editor-bin-1.1.1.stage-linux.sh::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.1.1/packaging/stage-linux.sh
	sha256sums = 687389809f4c94b125ae4003fb3c84b072164da6d5ca101600a5d171a0cdc9a9
	sha256sums = 0885c988e89e659d9429b8154a41b1310fb43115b7f1d209c1e4485a3d635193
	sha256sums = 86e880b061590b6fdd73bd31cfe68f890fc0306b9a5061abc15d7409f0aff1ee
	sha256sums = 4a18393ce9d317508b6002214d9b3cef677ddc5fa631d47ccf53daf9e7bb65e9
	sha256sums = aafa7be3fb4850bed38f395de4235d7c88d7b191ec33134c757148128008b625

pkgname = oryx-editor-bin
