pkgbase = oryx-editor-bin
	pkgdesc = Fast editor for markdown and code, reader for ebooks and comics
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/wmahfoudh/oryx
	arch = x86_64
	license = GPL-3.0-only
	makedepends = librsvg
	depends = openssl
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	provides = oryx-editor
	conflicts = oryx
	conflicts = oryx-editor
	options = !strip
	options = !debug
	source = https://github.com/wmahfoudh/oryx/releases/download/v1.0.0/oryx-1.0.0-linux-x86_64.tar.gz
	source = oryx-editor-bin-1.0.0.desktop::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.0.0/packaging/linux/com.steerania.Oryx.desktop
	source = oryx-editor-bin-1.0.0.metainfo.xml::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.0.0/packaging/linux/com.steerania.Oryx.metainfo.xml
	source = oryx-editor-bin-1.0.0.svg::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.0.0/assets/icon/oryx.svg
	source = oryx-editor-bin-1.0.0.stage-linux.sh::https://raw.githubusercontent.com/wmahfoudh/oryx/v1.0.0/packaging/stage-linux.sh
	sha256sums = 80bce3f792be6bc7a47dca39a56dba033858237fc9bc21b9cf7301f92497c7a5
	sha256sums = 0885c988e89e659d9429b8154a41b1310fb43115b7f1d209c1e4485a3d635193
	sha256sums = f786fe47ef1e17b1dfcb744dbd4ddfe4010b40f09a9ac7ee1104c63599fcfbd6
	sha256sums = 4a18393ce9d317508b6002214d9b3cef677ddc5fa631d47ccf53daf9e7bb65e9
	sha256sums = aafa7be3fb4850bed38f395de4235d7c88d7b191ec33134c757148128008b625

pkgname = oryx-editor-bin
